<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Set a new password</h2>
        
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
            <div class="mb-3">
            {{ form.new_password1.errors }}
            {{ form.new_password1 }}
            </div>
            
            <div class="mb-3">
            {{ form.new_password2.errors }}
            {{ form.new_password2 }}
            </div>
            
            <button type="submit" class="btn btn-success">Change password</button>
        </form>
    </div>
</body>
</html>